{% extends 'base.html' %}

{% block title%}
Proyectos
{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-content">
        <div class="left">
            <h1>PROYECTOS</h1>
         <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
        <a href="https://sparkling-raindrop-bbf0d3.netlify.app/"><img src="{{ url_for('static', filename='proyecto-react.png') }}" alt="react" style="width:100%"></a>
        <!-- <img src="{{ url_for('static', filename='proyecto-react.png') }}" alt="react" style="width:100%"> -->
      <h3>Proyecto React</h3>
      <p>Gestor de pacientes veterinarios con React y Vite usando Local Storage</p>
      <a href="https://sparkling-raindrop-bbf0d3.netlify.app/">Mira el proyecto completo</a>
    </div>
    <div class="w3-quarter">
      <img src="/w3images/steak.jpg" alt="Steak" style="width:100%">
      <h3>Let Me Tell You About This Steak</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="/w3images/cherries.jpg" alt="Cherries" style="width:100%">
      <h3>Cherries, interrupted</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      <p>What else?</p>
    </div>
    <div class="w3-quarter">
      <img src="/w3images/wine.jpg" alt="Pasta and Wine" style="width:100%">
      <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>
  s
        </div>
        <div class="right">
            <img src="{{ url_for('static', filename='computadora.png') }}" width="600" />
        </div>
    </div>

</div>
{% include 'portfolio/section-first.html' %}
{% include 'portfolio/section-second.html' %}
{% endblock %}