<div class="center">
    <div class="content">
        <div class="row ver-pad">
            <div class="left padded">
                <h1>Desarrollo aplicaciones y sitios web</h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologias y desarrollando aplicaciones por placer.
                    Esta web esta contruida desde cero con Python y Flask</p>

            </div>
            <div class="rigth padded">
                <h1>Para ponerte en contacto</h1>
                <p>Enviame un correo <a class="orange" href="#contacto"> haciendo click ACA</a></p>
            </div>
        </div>
    </div>
</div>